@page "/items/{Id}"
@inject NavigationManager NavigationManager
@inject IStringLocalizer<ItemsPage> T
@inject IStringLocalizer<Resources.App> T2
@inject IItemsClient ItemsClient
@inject IStatusesClient StatusesClient
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject ICurrentUserService CurrentUserService

@if (item is null)
{
    if (loading)
    {
        <p>Loading...</p>
    }
    else if (error)
    {
        @if (notFound)
        {
            <MudText Typo="Typo.h3" GutterBottom="true">Not found :(</MudText>
        }
        else
        {
            <MudText Typo="Typo.h3" GutterBottom="true">Something went wrong</MudText>
        }
    }
}
else
{
    <PageTitle>@item.Name</PageTitle>

    <MudText Typo="Typo.h3" GutterBottom="true">@item.Name</MudText>

    <MudText Typo="Typo.caption" GutterBottom="true">Created by @item.CreatedBy at @item.Created.ToString("g")</MudText>


    <MudText Typo="Typo.body1">@item.Description</MudText>

    <MudAutocomplete T="StatusDto" Label="@T["Status"]" ToStringFunc="(s) => T2[s.Name]" Value="item.Status" ValueChanged="OnStatusChanged" SearchFunc="@Search">

    </MudAutocomplete>
}

@code {
    ItemDto? item;
    bool loading;
    bool error;
    bool notFound;

    [Parameter] public string Id { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        notFound = false;

        try
        {
            item = await ItemsClient.GetItemAsync(Id);
        }
        catch (ApiException exc)
        {
            if (exc.StatusCode == 404)
            {
                notFound = true;
            }
            error = true;
        }
        catch (HttpRequestException exc)
        {
            error = true;
        }
        finally
        {
            loading = false;
        }
    }

    IEnumerable<StatusDto>? statuses = null;

    private async Task<IEnumerable<StatusDto>> Search(string value)
    {
        if (statuses is null)
        {
            statuses = await StatusesClient.GetStatusesAsync();
        }

        if (string.IsNullOrEmpty(value))
            return statuses;

        return statuses.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    async Task OnStatusChanged(StatusDto newStatus)
    {
        if (item!.Status.Id == newStatus.Id)
        {
            return;
        }

        var oldStatus = item!.Status;

        try
        {
            await ItemsClient.UpdateStatusAsync(item.Id, new UpdateItemStatusDto { StatusId = newStatus.Id });

            Snackbar.Add("Status updated.", Severity.Info);
        }
        catch (Exception)
        {
            item.Status = oldStatus;

            Snackbar.Add("Failed to update status.", Severity.Error);
        }
    }
}